{% extends "security/login_user.html" %}

{% block title %}{{ _('Password Reset') }}{% endblock %}

{% block page_content %}
  {% block form %}
  <h1>{{ _('Change password') }}</h1>
  <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
    {{ change_password_form.hidden_tag() }}
    {{ render_field_with_errors(change_password_form.password) }}
    {{ render_field_with_errors(change_password_form.new_password) }}
    {{ render_field_with_errors(change_password_form.new_password_confirm) }}
    {{ render_field(change_password_form.submit) }}
  </form>
  {% endblock form %}
{% endblock page_content %}

{% block custom_links %}
  <p class="mt-3 mb-1">
    <a href="{{ url_for_security('login') }}">{{ _('Log in as different user') }}</a>
  </p>
  {% if config.SECURITY_REGISTERABLE %}
    <p class="mb-0">
      <a href="{{ url_for_security('register') }}" class="text-center">
        {{ _('Register a new membership') }}
      </a>
    </p>
  {% endif %}
{% endblock %}